[submodule "3rdparty/cutlass"]
	path = 3rdparty/cutlass
	url = https://github.com/NVIDIA/cutlass
[submodule "3rdparty/ThunderKittens"]
	path = 3rdparty/ThunderKittens
	url = https://github.com/HazyResearch/ThunderKittens
